/**
 * EXAMPLE CONTENT
 * Feel free to remove it.
 */

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#app {
	text-align: center;

	h1 {
		font-size: 4rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	.intro-image {
		display: block;
		max-width: 80vw;
		height: 70vh;
		margin: auto;
	}
}
